@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: #141D2F;
}

.main-body-container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.main-body-container > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.main-body-container > header > h1 {
  font-size: clamp(2rem, 2.05vw, 2.05rem);
  font-weight: 400;
  color: #ffffff;
  letter-spacing: -0.5px;
  font-size: clamp(2rem, 2.1vw, 2.15rem);
  line-height: auto;
  text-align: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 87.2%;
  height: auto;
  border-radius: 1rem;
  background-color: #161D2F;
  row-gap: 1rem;
  padding: 1.5rem 1.25rem;
}
@media (min-width: 768px) {
  .login-form-container {
    width: 25rem;
    height: auto;
  }
}
.login-form-container > h1 {
  font-size: clamp(2rem, 2.05vw, 2.05rem);
  font-weight: 400;
  color: #ffffff;
  letter-spacing: -0.5px;
  font-size: clamp(2rem, 2.1vw, 2.15rem);
  line-height: auto;
  text-align: center;
}
.login-form-container > form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.login-form-container > form > .email-field {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.login-form-container > form > .email-field > label {
  position: relative;
}
.login-form-container > form > .email-field > label > input {
  width: 100%;
  height: auto;
  outline: none;
  border: none;
  border-bottom: 1px solid #5A698F;
  color: #5A698F;
  background-color: transparent;
  padding-bottom: 0.85rem;
  font-weight: 400;
}
.login-form-container > form > .email-field > label > input:focus {
  color: #ffffff;
  border-bottom-color: white;
}
.login-form-container > form > .email-field > label > input:not(:-moz-placeholder-shown) {
  color: #ffffff;
  border-bottom-color: white;
  caret-color: #FC4747;
}
.login-form-container > form > .email-field > label > input:not(:placeholder-shown) {
  color: #ffffff;
  border-bottom-color: white;
  caret-color: #FC4747;
}
.login-form-container > form > .name-field {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.login-form-container > form > .name-field > label {
  position: relative;
}
.login-form-container > form > .name-field > label > input {
  width: 100%;
  height: auto;
  outline: none;
  border: none;
  border-bottom: 1px solid #5A698F;
  color: #5A698F;
  background-color: transparent;
  padding-bottom: 0.85rem;
  font-weight: 400;
}
.login-form-container > form > .name-field > label > input:focus {
  color: #ffffff;
  border-bottom-color: white;
}
.login-form-container > form > .name-field > label > input:not(:-moz-placeholder-shown) {
  color: #ffffff;
  border-bottom-color: white;
  caret-color: #FC4747;
}
.login-form-container > form > .name-field > label > input:not(:placeholder-shown) {
  color: #ffffff;
  border-bottom-color: white;
  caret-color: #FC4747;
}
.login-form-container > form > input[type=submit] {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #FC4747;
  border-radius: 0.5rem;
  border: none;
  font-size: clamp(2rem, 2.05vw, 2.05rem);
  font-size: clamp(0.9375rem, 0.95vw, 0.96rem);
  font-weight: 400;
  line-height: auto;
}
.login-form-container > form > input[type=submit]:hover, .login-form-container > form > input[type=submit] :active {
  background-color: #ffffff;
  color: #161D2F;
  transition: all 0.3s;
  cursor: pointer;
}
.login-form-container > .users-signup-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
  align-items: center;
}
.login-form-container > .users-signup-option > .signup-asked,
.login-form-container > .users-signup-option .signup-link {
  color: #ffffff;
  font-size: clamp(0.9375rem, 0.95vw, 0.96rem);
  font-size: clamp(0.9375rem, 0.94vw, 0.94rem);
  font-weight: 400;
  text-align: center;
}
.login-form-container > .users-signup-option > .signup-link > a {
  color: #FC4747;
  cursor: pointer;
  text-decoration: none;
}

.mainProfileContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.5rem;
  padding: 0rem 2rem;
}
.mainProfileContainer > .userAction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainProfileContainer > .userAction > form > button.logoutBtn {
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  border-radius: 2.5rem;
  background-color: #FC4747;
}
.mainProfileContainer > .userAction > form > button.logoutBtn:hover {
  opacity: 1;
  transition: 0.5s;
}
.mainProfileContainer > .userAction > a.goBack {
  color: #f1f1f1;
  font-size: clamp(1.5rem, 1.52vw, 1.55rem);
  text-decoration: none;
}
.mainProfileContainer > .userAction > a.goBack:hover {
  color: #f5167e;
  transition: 0.5s;
}
.mainProfileContainer > .userProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.mainProfileContainer > .userProfile > .abbreviationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50rem;
  border: 1px solid white;
  font-size: clamp(2.8125rem, 2.85vw, 2.9rem);
}
.mainProfileContainer > .userProfile > .userNames {
  font-size: clamp(1.5rem, 1.52vw, 1.55rem);
}
.mainProfileContainer > h1 {
  font-size: clamp(2rem, 2.05vw, 2.05rem);
  color: royalblue;
}

.errorStyle {
  position: absolute;
  color: #FC4747;
  font-size: clamp(0.8125rem, 0.82vw, 0.82rem);
  font-weight: 400;
  right: 5%;
  transition: all 0.5s;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.container-animation {
  animation: slideInFromLeft 0.5s ease-in-out;
}

.ticket-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid #242565;
  border-radius: 2rem;
  width: 90%;
  height: auto;
  padding: 2.5rem;
  background-color: #fefefe;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
@media (min-width: 768px) {
  .ticket-popup {
    width: 50%;
  }
}
.ticket-popup > button.close-popup {
  font-size: clamp(1.75rem, 1.78vw, 1.79rem);
  color: #FC4747;
  position: absolute;
  top: 1rem;
  right: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 2rem;
}
.ticket-popup > h1 {
  color: #f5167e;
  text-align: center;
  font-size: clamp(1.75rem, 1.78vw, 1.79rem);
  font-family: "Inter", sans-serif;
}
.ticket-popup > p {
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
  font-family: "Inter", sans-serif;
  color: #242565;
  font-weight: 500;
  text-align: left;
  line-height: 1.5rem;
}

.tickets-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tickets-list > ul {
  display: flex;
  flex-direction: column;
}
.tickets-list > ul > li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.tickets-list > ul > li > .ticket-title {
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
  font-family: "Inter", sans-serif;
  color: #f1f1f1;
  font-weight: 600;
  text-align: left;
  line-height: 1.5rem;
  text-wrap: wrap;
}
.tickets-list > ul > li > .ticket-title:hover {
  color: #f5167e;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .tickets-list > ul > li > .ticket-title {
    font-size: clamp(0.9375rem, 0.94vw, 0.94rem);
    gap: 1rem;
  }
}
.tickets-list > .no-tickets {
  font-size: clamp(1.5rem, 1.52vw, 1.55rem);
  font-family: "Inter", sans-serif;
}

.mainAdminDashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.5rem;
  padding: 0rem 2rem;
}
.mainAdminDashboard > h1 {
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
  font-family: "Inter", sans-serif;
  color: #f1f1f1;
  text-align: center;
}
@media (min-width: 768px) {
  .mainAdminDashboard > h1 {
    font-size: clamp(2.5rem, 2.55vw, 2.6rem);
  }
}
.mainAdminDashboard > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainAdminDashboard > header > form > button.btn {
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  border-radius: 2.5rem;
  background-color: #FC4747;
  font-size: clamp(0.9375rem, 0.94vw, 0.94rem);
}
.mainAdminDashboard > header > form > button.btn:hover {
  opacity: 1;
  transition: 0.5s;
}
.mainAdminDashboard > header > button#showAddEventBtn {
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  border-radius: 2.5rem;
  background-color: #f5167e;
  font-size: clamp(0.9375rem, 0.94vw, 0.94rem);
}
.mainAdminDashboard > header > button#showAddEventBtn:hover {
  opacity: 1;
  transition: 0.5s;
}
.mainAdminDashboard > h2 {
  font-size: clamp(1.5rem, 1.52vw, 1.55rem);
  font-family: "Inter", sans-serif;
  color: #f1f1f1;
  text-align: center;
}
@media (min-width: 768px) {
  .mainAdminDashboard > h2 {
    font-size: clamp(2.5rem, 2.55vw, 2.6rem);
  }
}
.mainAdminDashboard > .allEvents > .list-unstyled > li > span {
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
  font-family: "Inter", sans-serif;
  color: #ffffff;
  text-align: left;
  line-height: 1.5rem;
  text-wrap: wrap;
}
.mainAdminDashboard > .allEvents > .list-unstyled > li > span:hover {
  color: #f5167e;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .mainAdminDashboard > .allEvents > .list-unstyled > li > span {
    font-size: clamp(0.9375rem, 0.94vw, 0.94rem);
    gap: 1rem;
  }
}
.mainAdminDashboard > .allEvents > p {
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
  font-family: "Inter", sans-serif;
  color: #ffffff;
  text-align: center;
}

#eventFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid #242565;
  border-radius: 1.5rem;
  width: 90%;
  max-height: 90vh;
  padding: 2rem;
  overflow: hidden;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
@media (min-width: 768px) {
  #eventFormContainer {
    width: 75%;
  }
}
#eventFormContainer > h2 {
  font-size: clamp(1.5rem, 1.52vw, 1.55rem);
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #242565;
}

#userUpdateFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid #242565;
  border-radius: 1.5rem;
  width: 90%;
  max-height: 90vh;
  padding: 2rem;
  overflow: hidden;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
@media (min-width: 768px) {
  #userUpdateFormContainer {
    width: 75%;
  }
}
#userUpdateFormContainer > h2 {
  font-size: clamp(1.5rem, 1.52vw, 1.55rem);
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #242565;
}

#UpdateEventFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid #242565;
  border-radius: 1.5rem;
  width: 90%;
  max-height: 90vh;
  padding: 2rem;
  overflow: hidden;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
@media (min-width: 768px) {
  #UpdateEventFormContainer {
    width: 75%;
  }
}
#UpdateEventFormContainer > h2 {
  font-size: clamp(1.5rem, 1.52vw, 1.55rem);
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #242565;
}/*# sourceMappingURL=custom.css.map */